{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if log %}
<br><br><br>

<div class="card my-5" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white; margin:auto; width:1000px;">
    <div class="card-body">
    <h5 class="card-title"> <!-- kartın başslık yazısı -->
        <br><b>Failed attempts to AUTHENTICATE (Total):</b>
        <hr color:"#696969"></hr>
    </h5>

    <p class="card-text"> <!-- kartın içerik yazısı -->
        <br>
        
        <table align="center" class="table table-bordered" style="width:900px";>

            <tr>
                <thead align="center" style="color:white;">
                <td><b>ATTEMPTS</b></td>
                <td><b>TARGET USER</b></td>
                <td><b>RESOURCE USER</b></td>
                </thead>
             </tr>
             <tbody>
             {% for data in sumlog %}
             <tr align="center" style="color:white;">
                <td>{{data.sumcount}}</td>
                <td>{{data.targetuser}}</td>
                <td>{{data.resourceuser}}</td>
             </tr>
             {% endfor %}
            </tbody>
        </table>        
    </p>

    </div>
</div>

<div class="card my-5" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white; margin:auto; width:1000px;">
    <div class="card-body">
    <h5 class="card-title"> <!-- kartın başslık yazısı -->
        <br><b>Failed attempts to AUTHENTICATE:</b>
        <hr color:"#696969"></hr>
    </h5>

    <p class="card-text"> <!-- kartın içerik yazısı -->
        <br>
        
        <table align="center" class="table table-bordered" style="width:900px";>

            <tr>
                <thead align="center" style="color:white;">
                <td><b>ATTEMPTS</b></td>
                <td><b>DATE</b></td>
                <td><b>TARGET USER</b></td>
                <td><b>RESOURCE USER</b></td>
                </thead>
             </tr>
             <tbody>
             {% for data in log %}
             <tr align="center" style="color:white;">
                <td>{{data.count}}</td>
                <td>{{data.date}}</td>
                <td>{{data.targetuser}}</td>
                <td>{{data.resourceuser}}</td>
             </tr>
             {% endfor %}
            </tbody>
        </table>        
    </p>

    </div>
</div>

{% else %}
        <br><br><br><br>
        <b><p align="left" style="color:white;">No Recorded Data.</p></b>
        <br><br>
        <hr color:"#696969">
{% endif %}

{% else %}
<br>
<h1> Error ! </h1>
{% endif %}

{% endblock %}