{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if blocks %}
<br><br><br>
<div class="row justify-content-center align-items-center">
<div class="card my-5 w-75" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white;">
    <div class="card-body">
    <h5 class="card-title"> <!-- kartın başslık yazısı -->
        <br><b>ENGELLENEN İSTEMCİLER:</b>
        <hr color:"#696969"></hr>
    </h5>

    <p class="card-text"> <!-- kartın içerik yazısı -->
        <br>
        
        <table align="center" class="table table-bordered" style="width:900px;">

            <tr>
                <thead align="center" style="color:white;">
                <td><b>TARİH</b></td>
                <td><b>IP ADRESİ</b></td>
                <td><b>ENGELLİ SERVİS</b></td>
                <td><b>ENGELİ KALDIR</b></td>
                </thead>
             </tr>
             <tbody>
            {% for data in blocks %}
             <tr align="center" style="color:white;">
                <td>{{data.date}}</td>
                <td>{{data.ip}}</td>
                <td>{{data.service}}</td>
                <td align="center"><form action="{% url 'blockedlist' %}" method='POST'>{% csrf_token %}<input type="submit" class="btn btn-danger" value="ENGELİ KALDIR"><input type="hidden" name="noblock" value="{{data.ip}}"><input type="hidden" name="service" value="{{data.service}}"></form></td>
             </tr>
             {% endfor %}
             {% comment %} 
             {% endcomment %}
            </tbody>
        </table>
        
    </p>

    </div>
</div>
</div>

{% else %}
        <br><br><br><br>
        <b><p align="left" style="color:white;">Kayıtlı Veri Bulunmamaktadır.</p></b>
        <br><br>
        <hr color:"#696969">
{% endif %}

<br><br><br><br><br><br><br><br><br>
{% else %}
<br>
<h1> Hata ! </h1>
{% endif %}

{% endblock %}