{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
{% comment %} {% if log %}{% endcomment %}
<br><br><br>
<div class="row justify-content-center align-items-center">
<div class="card my-5 w-75" style="background-color:#696969; border-color:#A52A2A; border-width:10px; color:white;">
    <div class="card-body">
    <h5 class="card-title"> <!-- kartın başslık yazısı -->
        <br><b>Engellenen İstemciler:</b>
        <hr color:"#696969"></hr>
    </h5>

    <p class="card-text"> <!-- kartın içerik yazısı -->
        <br>
        
        <table class="table table-bordered" style="width:900px;">

            <tr>
                <thead align="center" style="color:white;">
                <td><b>TARİH</b></td>
                <td><b>IP ADRESİ</b></td>
                <td><b>ENGELİ KALDIR</b></td>
                </thead>
             </tr>
             <tbody>
             
             <tr style="color:white;">
                <td>deneme</td>
                <td>deneme</td>
                <td align="center"><form action="{% url 'blocklist' %}" method='POST'>{% csrf_token %}<input type="submit" class="btn btn-danger" value="ENGELİ KALDIR"><input type="hidden" name="noblock" value=""></form></td>
             </tr>
             {% comment %} {% for data in log %}
             {% endfor %}{% endcomment %}
            </tbody>
        </table>
        
    </p>

    </div>
</div>
</div>

{% comment %}{% else %}{% endcomment %}
        <br><br><br><br>
        <b><p align="left" style="color:black;">Kayıtlı Veri Bulunmamaktadır.</p></b>
        <br><br>
        <hr color:"#696969">
{% comment %}{% endif %}{% endcomment %}

<br><br><br><br><br><br><br><br><br>
{% else %}
<br>
<h1> Hata ! </h1>
{% endif %}

{% endblock %}