{% extends 'layout.html' %}

{% block content %}
{% if user.is_authenticated %}
<br><br><br>

<a href="{% url 'sshlist' %}" class="btn btn-danger btn-lg btn-block" value="sshlist" style="width:200px;">SSH Log</a> 

<br><br>

<a href="{% url 'ftplist' %}" class="btn btn-danger btn-lg btn-block" value="ftplish" style="width:200px;"">FTP Log</a>

<br><br>

<a href="{% url 'httplist' %}" class="btn btn-danger btn-lg btn-block" value="httplist" style="width:200px;">HTTP Login Log</a>

<br><br>

<a href="{% url 'fuzzinglist' %}" class="btn btn-danger btn-lg btn-block" value="fuzzinglist" style="width:200px;">Fuzzing Log</a>

<br><br>

<a href="{% url 'authlist' %}" class="btn btn-danger btn-lg btn-block" value="authlist" style="width:200px;">Auth Log</a>

<br><br><br>

<hr size="4" style="background-color:white;" />

<br><br>

<a href="{% url 'settings' %}" class="btn btn-danger btn-lg btn-block" value="settings" style="width:200px;">Settings</a>

<br><br>

<a href="{% url 'blockedlist' %}" class="btn btn-danger btn-lg btn-block" value="blockedlist" style="width:200px;">Blocked</a>

<br><br>
{% else %}
<br>
<h1> Error ! </h1>
{% endif %}

{% endblock %}